<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://vranken.net/wp-content/uploads/2018/04/cocktails-pour-les-f%C3%AAtes.jpg);">
  <div class="container">
    <h1>LA KINTE À TINMAR, LE MEILLEUR DU PIRE POUR SE METTRE UNE TAULE!</h1>
    <!-- <a class="btn btn-flat" href="#">Apply now</a> -->
  </div>
</div>


