<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to  cocktails_path, class: "navbar-brand" do %>
    <img src="https://i.pinimg.com/236x/5a/58/d3/5a58d318ce08605d538626269e5cadf6.jpg" />
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active btn btn-primary">
        <a href="/cocktails/new">Ajouter un cocktail</a>
      </li>
    </ul>
  </div>
</div>

